services:
  - type: web
    name: certipay-backend
    env: node
    plan: starter
    region: oregon
    buildCommand: npm install && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_FILE
        value: /opt/render/project/src/data/data.db
      - key: CERT_STORAGE_DIR
        value: /opt/render/project/src/data/certificados
      - key: PUBLIC_URL
        sync: false
      - key: CORS_ORIGINS
        sync: false
      - key: STRIPE_SECRET
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
    disk:
      name: certipay-data
      mountPath: /opt/render/project/src/data
      sizeGB: 1

  - type: web
    name: certipay-frontend
    env: static
    plan: starter
    region: oregon
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    autoDeploy: true
    envVars:
      - key: VITE_API_BASE
        sync: false